extends layout

block content
	h1.text-center About
	ul.list-group
		li.list-group-item
			h2.center-text Module Call to Twitter
			img.img-size(src = './images/subscribe.JPG')
		li.list-group-item
			h2.center-text Server Side Usage
			img.img-size(src = './images/subscribe_server.JPG')
		li.list-group-item
			h2.center-text Client Side Usage
			img.img-size(src = './images/tweetPoll.JPG')